@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');

.button {
  width: 100%;          
  height: 77px;
  border-radius: 12px;
  background-color: rgb(234, 50, 50);
  box-shadow: 0px 1.5px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-title {
  font-size: 20px;
  font-weight: bold;
  color: white;
}