/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
    --color-hapikopi-yellow: #F3B72C;
    --color-hapikopi-dark: #333333;
    --color-hapikopi-bg: #f9fafb;
    --color-hapikopi-cardbackground: #fafafa;
    --color-hapikopi-grayborder: #909090;
}

html,
body {
    margin: 0;
}

body {
    font-family: "Outfit";
}

body.sidebar-open {
    overflow: hidden;
}

.shadow {
    box-shadow: 0px -1px 10.6px 2px rgba(0, 0, 0, 0.25);
    z-index: 50;
}


