/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100...900&display=swap');
@theme {
    --color-hapikopi-yellow: #f3b72c;
    --color-hapikopi-dark: #333333;
    --color-hapikopi-bg: #f9fafb;
    --color-hapikopi-cardbackground: #fafafa;
    --color-hapikopi-grayborder: #909090;
}

html, body {
    margin: 0;
}

body {
    font-family: "Outfit", sans-serif;
}

body.sidebar-open {
  overflow: hidden;
}