@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');

.order-body {
  width: 100%;
  background-color: #f0f0f0; 
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Outfit', sans-serif;
}
.order-body::-webkit-scrollbar {
  width: 0;
}

.upper-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: max-content;
  background-color: #fafafa;  
  margin-bottom: 30px;
  padding-top: 50px;
  padding-bottom: 50px;

}
.middle-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: max-content;
  background-color: #fafafa;
  padding: 20px 0 20px 0;
  gap: 0 80px;
}

.total-price,
.amount-received {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  gap: 20px;
}

.amount-received-value {
  font-size: 40px;
  font-weight: bold;
  color: #777777;
}

.amount-received-label {
  font-size: 16px;
  color: #909090;
}

.total-price-value {
  font-size: 40px;
  font-weight: bold;
  color: #282828;
}

.total-price-label {
  font-size: 16px;
  color: #909090;
}

.btns {
  position: fixed;
  bottom: 40px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 19px;
  justify-content: center;
  z-index: 999;
}


app-long-yellow-button {
  display: block;         /* ensure it takes width of its content */
  width: 100%;            /* make it expand across the flex center */
  display: flex;
  justify-content: center;
}

