body {
  background: #222;
}

.menu-card {
  width: 540px;
  height: 123px;
  position: relative;
  background: #FAFAFA;
  font-family: "Outfit", sans-serif;
}
 
.menu-image {
  width: 57px;
  height: 84.74px;
  left: 36px;
  top: 19px;
  position: absolute;
  background: #F0F0F0;
  border-radius: 12px;
}
 
.menu-title {
  left: 124px;
  top: 33px;
  position: absolute;
  color: #282828;
  font-size: 16px;
  font-weight: 600;
  word-wrap: break-word;
}
 
.menu-subtitle {
  left: 124px;
  top: 66px;
  position: absolute;
  color: #777777;
  font-size: 16px;
  font-weight: 400;
  word-wrap: break-word;
}
 
.menu-arrow {
  width: 8px;
  height: 8px;
  left: 478px;
  top: 56px;
  position: absolute;
  border-top: 3px solid #777;
  border-right: 3px solid #777;
  transform: rotate(45deg);
  transform-origin: center;
}
