<div
  class="relative w-[150px] h-[170px] /* mobile */ md:w-[167px] md:h-[182px] /* desktop */ font-[Outfit]"
>
  <!-- BACK CARD -->
  <div
    class="absolute inset-0 left-[1.5px] w-[146px] h-[168px] /* mobile */ md:w-[163px] md:h-[180px] /* desktop */ bg-[#FAFAFA] rounded-3xl shadow-[0px_1.5px_5px_rgba(0,0,0,0.25)]"
  ></div>

  <!-- COUNTER BOX -->
  <div
    class="absolute left-[2px] top-[116px] /* mobile */ w-[146px] h-[50px] /* mobile */ md:top-[126px] md:w-[163px] md:h-[54px]"
  >
    <div
      class="absolute inset-0 bg-[#FAFAFA] rounded-full outline outline-2 outline-[#D9D9D9]"
    ></div>

    <!-- QUANTITY NUMBER -->
    <div
      class="absolute text-center text-[#282828] text-[18px] /* mobile */ md:text-[20px] font-semibold left-[64px] top-[11px] /* mobile */ md:left-[76px] md:top-[12px]"
    >
      {{ addonCard.Quantity }}
    </div>

    <!-- MINUS BUTTON -->
    <div
      class="absolute left-[2px] top-[1.5px] /* mobile */ md:left-[3px] md:top-[2px] w-[44px] h-[44px] /* mobile */ md:w-[49px] md:h-[49px] bg-[#F3B72C] rounded-full flex justify-center items-center text-[26px] md:text-[28px] text-[#765302] cursor-pointer select-none"
      (click)="decrease()"
    >
      −
    </div>

    <!-- PLUS BUTTON -->
    <div
      class="absolute left-[98px] top-[1.5px] /* mobile */ md:left-[111px] md:top-[2px] w-[44px] h-[44px] /* mobile */ md:w-[49px] md:h-[49px] bg-[#F3B72C] rounded-full flex justify-center items-center text-[26px] md:text-[28px] text-[#765302] cursor-pointer select-none"
      (click)="increase()"
    >
      +
    </div>

    <!-- ADDON ICON -->
    <div
      class="absolute left-[14px] -top-[90px] /* mobile */ md:left-[16px] md:-top-[109px] w-[35px] h-[35px] /* mobile */ md:w-[40px] md:h-[40px] rounded-full flex justify-center items-center transition-all duration-300"
      [ngStyle]="{ 'background-color': isZero ? '#F0F0F0' : '#F3B72C' }"
    >
      <!-- your SVG unchanged -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="19"
        height="17"
        viewBox="0 0 19 17"
        fill="none"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M9.4082 15.1208C14.8504 15.1628..."
          [attr.stroke]="isZero ? '#777777' : '#FAFAFA'"
          stroke-width="2"
          stroke-linejoin="round"
        />
      </svg>
    </div>
  </div>

  <!-- ADDON NAME -->
  <div
    class="absolute left-[14px] top-[68px] /* mobile */ w-[115px] md:left-[17px] md:top-[79px] md:w-[123px] flex pl-2 text-[#282828] text-[14px] md:text-[16px] font-semibold text-center"
  >
    {{ addonCard.Name }}
  </div>
</div>
