<div class="drink-card">
  <div class="drink-image"></div>

  <div class="drink-info">
    <div class="drink-header">
      <div class="drink-name">{{cartItem.Name}}</div>
    </div>

    <div class="drink-size">{{cartItem.Size}}</div>

    <div class="addon-list">
      <div>{{cartItem.AddOn}}</div> 
    </div>
  </div>

  <div class="price-and-qty">
    <div class="drink-price">{{cartItem.Subtotal | currency: 'PHP'}}</div>

    <div class="quantity-control">
      <div class="quantity-btn minus">−</div>
      <div class="count">{{cartItem.Quantity}}</div>
      <div class="quantity-btn plus">+</div>
    </div>
  </div>
</div>
