<div class="order-body">
  @if (orders.length === 0) {
  <div class="empty-state">
    <h3 class="empty-state-title">No drinks added yet!</h3>
    <p class="empty-state-message">Choose a drink from our order page first.</p>
  </div>
  } @else { 
  <div class="cart-item-container">
    <app-cart-item
      *ngFor="let order of orders"
      [cartItem]="order"
      (edit)="openEditModal($event)"
    ></app-cart-item>
  </div>
  }

  <div class="btns">
    <div class="mx-[8%] text-[20px] mb-3">
      Total: <b>{{ total | currency : 'PHP' }}</b>
    </div>

    <app-long-yellow-button
      buttonSize="long"
      buttonTitle="Charge using Cash"
      (click)="chargeWithCash()"
    ></app-long-yellow-button>

    <app-long-yellow-button
      buttonSize="long"
      buttonTitle="Charge using G-Cash"
      (click)="chargeWithGCash()"
    ></app-long-yellow-button>
  </div>

  @if (showEditModal && selectedOrderId !== null) {
  <div class="modal-overlay" (click)="closeEditModal()"></div>
  <div class="modal-wrapper">
    <app-edit-order-modal
      [orderId]="selectedOrderId!"
      (closeModal)="closeEditModal()"
    ></app-edit-order-modal>
  </div>
  }
</div>
