.order-body {
  width: 100%;
  background-color: #f0f0f0;
  height: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh; /* full viewport height */
}
.order-body::-webkit-scrollbar {
  width: 0;
}

app-long-yellow-button {
  display: block; /* ensure it takes width of its content */
  width: 100%; /* make it expand across the flex center */
  display: flex;
  justify-content: center;
}

.btns {
  position: fixed;
  bottom: 40px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 19px;
  justify-content: center;
  z-index: 999;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  max-width: 600px;
  width: 90%;
  padding: 1rem;
  border-radius: 12px;
}
