.order-body {
  width: 100%;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 220px);
  overflow: hidden;
}

.order-body::-webkit-scrollbar {
  width: 0;
}

app-long-yellow-button {
  display: block;
  width: 100%;
  display: flex;
  justify-content: center;
}

.btns {
  position: fixed;
  bottom: 40px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 19px;
  justify-content: center;
  z-index: 999;
  background: #fafafa; 
  padding-top: 30px;
  border-radius: 24px 24px 0 0;
  box-shadow: 0px -1px 18.9px -5px rgba(0, 0, 0, 0.25);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  max-width: 600px;
  width: 90%;
  padding: 1rem;
  border-radius: 12px;
}

.cart-item-container {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  overflow-y: auto;
  padding-bottom: 20px;
}

.cart-item-container::-webkit-scrollbar {
  width: 0;
}

.cart-item-container app-cart-item:last-child {
  margin-bottom: 100px;
}
