<button class="card pb-10 pt-10 pl-12 pr-12 rounded-0 shadow-sm flex items-center gap-6 cursor-pointer justify-between w-full">
    <div class="flex flex-col gap-2">
        <p class="text-hapikopi-dark font-bold">{{ itemTitle }}</p>
        <p class="text-gray-500">{{ itemValue }} {{ itemUnit }}</p>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path fill="#333" fill-rule="evenodd"
            d="M8.512 4.43a.75.75 0 0 1 1.057.082l6 7a.75.75 0 0 1 0 .976l-6 7a.75.75 0 0 1-1.138-.976L14.012 12L8.431 5.488a.75.75 0 0 1 .08-1.057"
            clip-rule="evenodd" />
    </svg>
</button>