<div class="flex shadow-sm flex-1 justify-between items-center rounded-2xl p-9 gap-8 w-full">
    <div class="font-medium text-gray-400 text-lg"> Available </div>
    <div>  
        <label class="relative inline-flex items-center cursor-pointer">
            <input type="checkbox" class="sr-only peer">
            <div class="w-11 h-6 bg-gray-300 inset-shadow-2xs rounded-full peer-checked:bg-[#F3B72C] peer transition-all duration-300"></div>
            <div class="absolute left-1 top-1 bg-white w-4 h-4 rounded-full transition-all duration-300 peer-checked:translate-x-5"></div>
        </label>
    </div>
</div>