<div class="drink-card">
  <div class="drink-image"></div>

  <div class="drink-info">
    <div class="drink-header">
      <div class="drink-name">
        {{chargeItem.Name}}
        <div class="drink-qty">({{chargeItem.DrinkQuantity}})</div>
      </div>
      <div class="drink-price">{{chargeItem.Subtotal}}</div>
    </div>

    <div class="drink-size">{{chargeItem.Size}}</div>

    <div class="addon-list">
      <div class="addon">
        {{chargeItem.AddOn}}
        <div class="addon-qty">({{chargeItem.AddOnQuantity}})</div>
      </div> 
    </div>
  </div>
</div>
