@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');

.order-body {
  width: 100%;
  background-color: #f0f0f0;  
  position: fixed; 
  display: flex;
  flex-direction: column;
  height: 100vh; 
  font-family: 'Outfit', sans-serif;

}
.order-body::-webkit-scrollbar {
  width: 0;
}

.upper-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: max-content;
  background-color: #fafafa;
  padding: 66px 0 50px 0;
}

.total-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4vh;
  gap: 16px;
}

.total-price-value {
  font-size: 40px;
  font-weight: bold;
  color: #282828;
}

.total-price-label {
  font-size: 16px;
  color: #909090;
}

.btns {
  position: fixed;
  bottom: 40px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 19px;
  justify-content: center;
  z-index: 999;
}


app-long-yellow-button {
  display: block;    
  width: 100%;           
  display: flex;
  justify-content: center;
}
