:host {
  display: block;
  width: 100%;
  height: auto;
}

.chart-container {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}
