.order-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  border-bottom: 1px solid #ddd;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  max-width: 650px;
  background-color: #fff;
  margin-bottom: 20px;
}

.order-id {
  font-weight: 600;
  font-size: 14px;
  width: 90px;
  color: #f3b72c;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex-grow: 1;
  margin-left: 10px;
  color: #797979;
  font-size: 12px;
}

.order-time {
  font-weight: 500;
}

.barista-name {
  font-weight: 400;
}

.payment-method {
  padding: 8px 18px;
  border-radius: 25px;
  font-size: 13px;
  font-weight: 600;
  white-space: nowrap;
  text-transform: capitalize;
}

.payment-method.gcash {
  background-color: #e3f2fd;
  color: #1976d2;
  border: 1px solid #bbdefb;
}

.payment-method.cash {
  background-color: #e8f5e9;
  color: #388e3c;
  border: 1px solid #c8e6c9;
}

.total-payment {
  font-weight: 700;
  font-size: 14px;
  margin-left: 20px;
  white-space: nowrap;
  color: #282828;
}