<div 
    class="fixed inset-0 bg-hapikopi-dark/50 flex items-center justify-center z-50 transition-opacity"
    (click)="closeModal()">

    <div class="bg-hapikopi-card text-hapikopi-dark p-6 rounded-lg shadow-xl w-full max-w-lg mx-4"
        (click)="$event.stopPropagation()"> <!-- Pipigilan ang click na umabot sa overlay -->

        <!-- Modal Header -->
        <div class="flex justify-between items-center mb-4">
            <h3 class="text-2xl font-semibold">
                Add Ingredient to Recipe
            </h3>
            <button mat-icon-button (click)="closeModal()" class="text-hapikopi-gray hover:text-hapikopi-dark">
                <mat-icon>close</mat-icon>
            </button>
        </div>

        <div class="flex flex-wrap items-start gap-4">

            <mat-form-field appearance="outline" class="flex-grow-[2] min-w-[200px]">
                <mat-label>Search Ingredient</mat-label>
                <input type="text" matInput [(ngModel)]="ingredientInputText" (ngModelChange)="filterIngredients()"
                    [matAutocomplete]="auto" (blur)="onIngredientInputBlur()">

                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">

                    @for (ingredient of filteredIngredients; track ingredient.id) {
                    <mat-option [value]="ingredient" class="hover:bg-hapikopi-yellow/20">
                        {{ ingredient.name }}
                    </mat-option>
                    }
                </mat-autocomplete>
            </mat-form-field>

            <div class="flex items-baseline gap-2 flex-grow min-w-[150px]">
                <mat-form-field appearance="outline" class="flex-grow">
                    <mat-label>Amount</mat-label>
                    <input type="number" matInput placeholder="0.0" [(ngModel)]="selectedAmount"
                        [disabled]="!selectedIngredient"> 
                </mat-form-field>

                @if (selectedIngredientUnit) {
                <span class="font-semibold text-hapikopi-gray -ml-2">
                    {{ selectedIngredientUnit }}
                </span>
                }
            </div>
        </div>

        <div class="flex justify-end gap-4 mt-6">
            <button mat-stroked-button (click)="closeModal()" class="!border-hapikopi-gray !text-hapikopi-gray">
                Cancel
            </button>

            <button mat-flat-button (click)="addIngredientToRecipe()" class="!bg-hapikopi-yellow !text-white"
                [disabled]="!selectedIngredient || !selectedAmount || selectedAmount <= 0">
                Add Ingredient
            </button>
        </div>

    </div>
</div>