<div class="split-card">
  <div class="arrow-button">
    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="10" viewBox="0 0 28 10" fill="none">
      <path
        d="M1.5 1.50049L14 8.50049L26.5 1.50049"
        stroke="#777777"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </div>
  <div class="split-card-left">
    <div class="order-summary">
      <div class="order-info">
        <div class="order-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="25"
            viewBox="0 0 20 25"
            fill="none"
          >
            <path
              d="M12.241 7.7446H5.4964M14.4892 12.241H5.4964M11.1169 16.7374H5.4964M1 1V23.482L3.2482 22.3579L5.4964 23.482L7.7446 22.3579L9.9928 23.482L12.241 22.3579L14.4892 23.482L16.7374 22.3579L18.9856 23.482V1L16.7374 2.1241L14.4892 1L12.241 2.1241L9.9928 1L7.7446 2.1241L5.4964 1L3.2482 2.1241L1 1Z"
              stroke="#282828"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div class="order-title">Order No. 1</div>
      </div>
      <div class="order-price">₱200.00</div>
    </div>
  </div>

  <div class="split-card-right">
    <div class="charge-icon">
      <div class="charge-logo">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="26"
          viewBox="0 0 40 26"
          fill="none"
        >
          <path
            d="M1.5 1.5H38.5V23.7H1.5V1.5Z"
            stroke="#765302"
            stroke-width="3"
            stroke-linejoin="round"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M1.5 8.9C5.58691 8.9 8.9 5.58693 8.9 1.5H1.5V8.9Z"
            stroke="#765302"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M1.5 16.2998C5.58691 16.2998 8.9 19.6129 8.9 23.6998H1.5V16.2998Z"
            stroke="#765302"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M38.4996 16.2998V23.6998H31.0996C31.0996 19.6129 34.4127 16.2998 38.4996 16.2998Z"
            stroke="#765302"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M38.4996 8.9C34.4127 8.9 31.0996 5.58693 31.0996 1.5H38.4996V8.9Z"
            stroke="#765302"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M20 18.1498C22.5543 18.1498 24.625 15.665 24.625 12.5998C24.625 9.53463 22.5543 7.0498 20 7.0498C17.4457 7.0498 15.375 9.53463 15.375 12.5998C15.375 15.665 17.4457 18.1498 20 18.1498Z"
            stroke="#765302"
            stroke-width="3"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
  </div>
</div>
