body {
  background: #222;
  font-family: "Outfit", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
}

.batch-card {
  width: 540px;
  height: 141px;
  position: relative;
  background: #fafafa;
}

.product-name {
  position: absolute;
  left: 44px;
  top: 27px;
  color: #282828;
  font-size: 16px;
  font-weight: 600;
}

.product-batches {
  position: absolute;
  left: 77px;
  top: 59px;
  color: #777777;
  font-size: 16px;
  font-weight: 400;
}
 
.product-batch-icon {
  position: absolute;
  left: 44px;
  top: 63px;
}

.product-volume {
  position: absolute;
  left: 78px;
  top: 91px;
  color: #777777;
  font-size: 16px;
  font-weight: 400;
}

.product-volume-icon {
  position: absolute;
  left: 44px;
  top: 92px;
}

.batch-card-next {
  width: 8px;
  height: 8px;
  left: 478px;
  top: 56px;
  position: absolute;
  border-top: 3px solid #777;
  border-right: 3px solid #777;
  transform: rotate(45deg);
  transform-origin: center;
}
