body
{
    background-color: white;
    font-family: Outfit;
}

.menu-card {
  width: 540px;
  height: 123px;
  position: relative;
  background: #FAFAFA;
  font-family: "Outfit", sans-serif;
}
 
.menu-title {
  left: 124px;
  top: 33px;
  position: absolute;
  color: #282828;
  font-size: 16px;
  font-weight: 600;
  word-wrap: break-word;
}
 
.menu-subtitle {
  left: 124px;
  top: 66px;
  position: absolute;
  color: #777777;
  font-size: 16px;
  font-weight: 400;
  word-wrap: break-word;
} 

.category-bg
{
    padding-top: 30px;
    padding-bottom: 30px;
}