.drink-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 80px;
  height: 100px;
  margin-right: 16px;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 8px;
}

.product-details {
  flex: 1;
}

.product-name {
  font-size: 16px;
  font-weight: medium;
  color: #333;
}

.product-size {
  color: #f3b72c;
    margin-top: 8px;
    font-size: 20px;
}

.quantity {
  margin-top: 8px;
  opacity: 0.7;
}

.subtotal {
  margin-top: 14px;
  font-weight: bold;
  margin-right: 15px;
  font-size: 20px;
}