@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');

.modal-card {
  width: 465px;  
  background: #fff;
  border-radius: 20px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  font-family: 'Outfit', sans-serif;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Header */
.product-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: 'Outfit', sans-serif;
  margin-bottom: 29px;
  color: #282828;
}

.product-title {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  font-family: 'Outfit', sans-serif;
}

.product-subtitle {
  font-size: 14px;
  color: #777;
  margin: 2px 0 0 0;
}

.product-price {
  font-size: 20px;
  font-weight: 600;
}
 

/* Sizes */
.size-container {
  display: flex;
  gap: 15px;
  overflow-x: auto;       /* horizontal scroll */
  overflow-y: hidden;     /* hide vertical overflow */
  box-sizing: border-box; 
  flex-wrap: nowrap;       /* prevent items from wrapping */
  padding: 10px;          /* optional spacing inside container */
  scroll-behavior: smooth; 

  flex: 0 0 auto;  /* prevent shrinking */
  min-width: 120px; /* example width */
}

.size-container::-webkit-scrollbar {
  width: 0;                
}
 

/* Add-ons */
.addons-section {
  margin-top: 33px;
  margin-bottom: 30px;
}

.addons-title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 17px;
  color: #282828;
}

.addons-list {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 3px;
  padding-top: 3px;  
}

.addons-list::-webkit-scrollbar {
  width: 0;                
}


.addon-card {
  min-width: 130px;
  background: #fff;
  border-radius: 16px;
  padding: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.addon-icon {
  width: 36px;
  height: 36px;
  background: #f8c23d;
  border-radius: 50%;
  margin: 0 auto 8px;
}

.addon-name {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
}

.addon-quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  border: 1px solid #eee;
  padding: 4px 8px;
}

.addon-btn {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: none;
  background: #f8c23d;
  font-weight: 700;
  cursor: pointer;
}

.addon-value {
  font-weight: 600;
}

/* Add Item Button */
app-long-yellow-button {
  display: block;         
  width: 100%;           
  display: flex;
  justify-content: center;
}

.modal-buttons app-red-button,
.modal-buttons app-long-yellow-button {
  flex: 1;
}


