<header class="
flex items-center w-full 
bg-hapikopi-yellow text-white 
h-[4.5rem] px-4
shadow">

    <div class="flex items-center justify-between w-full">

        <div class="flex items-center gap-6 flex-1">
            @if (showMenuButton) {
            @if (showBackButton) {
            <button (click)="onBackClick()">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-7" viewBox="0 0 512 512">
                    <path fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="48"
                        d="M244 400L100 256l144-144M120 256h292" />
                </svg>
            </button>
            } @else {
            <button (click)="toggleSidebar()">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="18" viewBox="0 0 29 22" fill="none">
                    <path d="M2 2H27M2 10.7907H27M2 20H27" stroke="#F0F0F0" stroke-width="4" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </button>
            }
            }
            @if(!onSelected){
            @if(headerTitle){
            <h1 class="font-semibold text-xl">
                {{ headerTitle | titlecase }}
            </h1>
            }@else{
            <h1 class="font-semibold text-xl">
                {{ (currentPageSelected | async) | titlecase }}
            </h1>
            }
            }

        </div>

        <div>

            <div class="flex">
                @if(showArchiveToggleButton) {
                <button class="flex justify-center items-center px-2" (click)="onToggleArchiveClick()">
                    @if (isArchivedView) {
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="none" stroke="#fff" stroke-linecap="round" stroke-width="2"
                            d="m8 8l4 4m0 0l4 4m-4-4l4-4m-4 4l-4 4" />
                    </svg>
                    } @else {
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-7" viewBox="0 0 24 24">
                        <path fill="#fff"
                            d="M20 6h-8l-2-2H4c-1.11 0-2 .89-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2m0 12H4V6h5.17l2 2H20zM9 10v6h6v-6zm2 2h2v2h-2z" />
                    </svg>
                    }
                </button>
                }

                @if (showAddButton && !isArchivedView) {
                <button class="flex justify-center items-center px-2" (click)="onAddItemClick()">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-7" viewBox="0 0 24 24">
                        <path fill="#fff"
                            d="M12 4c4.411 0 8 3.589 8 8s-3.589 8-8 8s-8-3.589-8-8s3.589-8 8-8m0-2C6.477 2 2 6.477 2 12s4.477 10 10 10s10-4.477 10-10S17.523 2 12 2m5 9h-4V7h-2v4H7v2h4v4h2v-4h4z" />
                    </svg>
                </button>
                }
            </div>

            @if (showEditButton) {
            <div class="flex gap-2 items-center">
                <button class="flex justify-center items-center" (click)="onEditItemClick()">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-7" viewBox="0 0 24 24">
                        <path fill="#fff"
                            d="M5 19h1.425L16.2 9.225L14.775 7.8L5 17.575zm-2 2v-4.25L16.2 3.575q.3-.275.663-.425t.762-.15t.775.15t.65.45L20.425 5q.3.275.438.65T21 6.4q0 .4-.137.763t-.438.662L7.25 21zM19 6.4L17.6 5zm-3.525 2.125l-.7-.725L16.2 9.225z" />
                    </svg>
                </button>
            </div>
            }

            @if (showRestoreButton) {
            <button class="flex justify-center items-center px-2" (click)="onRestoreItemClick()">
                <!-- Restore Icon -->
                <svg xmlns="http://www.w3.org/2000/svg" class="w-7" viewBox="0 0 24 24">
                    <path fill="#fff"
                        d="M12.5 2c-5.24 0-9.5 4.26-9.5 9.5s4.26 9.5 9.5 9.5s9.5-4.26 9.5-9.5S17.74 2 12.5 2m0 17c-4.13 0-7.5-3.37-7.5-7.5S8.37 4 12.5 4S20 7.37 20 11.5S16.63 19 12.5 19m1.91-6.09l-3.59 3.59L9.4 15.08l1.41-1.41l1.08 1.08l2.18-2.18zM13 7h-1v5h1z" />
                </svg>
            </button>
            }

            <div class="flex items-center justify-end gap-1">
                @if(showSaveButton) {
                <button [disabled]="!hasValueChanged" (click)="onSaveItemClick()">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-7" [class.opacity]="!hasValueChanged"
                        viewBox="0 0 24 24">
                        <g fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                            <path
                                d="M3 12c0 -4.97 4.03 -9 9 -9c4.97 0 9 4.03 9 9c0 4.97 -4.03 9 -9 9c-4.97 0 -9 -4.03 -9 -9Z" />
                            <path stroke-dasharray="14" stroke-dashoffset="14" d="M8 12l3 3l5 -5">
                                <animate fill="freeze" attributeName="stroke-dashoffset" dur="0.2s" values="14;0" />
                            </path>
                        </g>
                    </svg>
                </button>
                }

                @if(showDeleteButton){
                <button (click)="onDeleteItemClick()">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-7" viewBox="0 0 24 24">
                        <path fill="#fff"
                            d="M7.616 20q-.667 0-1.141-.475T6 18.386V6h-.5q-.213 0-.356-.144T5 5.499t.144-.356T5.5 5H9q0-.31.23-.54t.54-.23h4.46q.31 0 .54.23T15 5h3.5q.213 0 .356.144t.144.357t-.144.356T18.5 6H18v12.385q0 .666-.475 1.14t-1.14.475zM17 6H7v12.385q0 .269.173.442t.443.173h8.769q.269 0 .442-.173t.173-.442zm-6.692 11q.213 0 .357-.144t.143-.356v-8q0-.213-.144-.356T10.307 8t-.356.144t-.143.356v8q0 .213.144.356q.144.144.356.144m3.385 0q.213 0 .356-.144t.143-.356v-8q0-.213-.144-.356Q13.904 8 13.692 8q-.213 0-.357.144t-.143.356v8q0 .213.144.356t.357.144M7 6v13z" />
                    </svg>
                </button>
                }
            </div>

        </div>
    </div>
</header>