<div class="flex p-2 bg-hapikopi-yellow text-white h-[12vh] items-end">
    <div class="flex items-center justify-between w-full">
        <div class="flex items-center gap-1.5">
            <button (click)="toggleSidebar()">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-10" viewBox="0 0 24 24">
                    <path fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M6 8h12M6 12h12M6 16h12" />
                </svg>
            </button>
            <h1 class="font-[800] text-2xl">{{currentPageSelected | async}}</h1>
        </div>
        <div>
            @if (showAddButton) {
            <button class="flex justify-center items-center p-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-7" viewBox="0 0 24 24">
                    <path fill="#fff"
                        d="M12 4c4.411 0 8 3.589 8 8s-3.589 8-8 8s-8-3.589-8-8s3.589-8 8-8m0-2C6.477 2 2 6.477 2 12s4.477 10 10 10s10-4.477 10-10S17.523 2 12 2m5 9h-4V7h-2v4H7v2h4v4h2v-4h4z" />
                </svg>
            </button>
            }

            @if (showDeleteButton) {
            <div class="flex gap-2 items-center px-2">
                <button class="flex justify-center items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-7" viewBox="0 0 24 24">
                        <path fill="#fff"
                            d="M5 19h1.425L16.2 9.225L14.775 7.8L5 17.575zm-2 2v-4.25L16.2 3.575q.3-.275.663-.425t.762-.15t.775.15t.65.45L20.425 5q.3.275.438.65T21 6.4q0 .4-.137.763t-.438.662L7.25 21zM19 6.4L17.6 5zm-3.525 2.125l-.7-.725L16.2 9.225z" />
                    </svg>
                </button>
                <button class="flex justify-center items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-7" viewBox="0 0 24 24">
                        <path fill="#fff"
                            d="M7 21q-.825 0-1.412-.587T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413T17 21zM17 6H7v13h10zM9 17h2V8H9zm4 0h2V8h-2zM7 6v13z" />
                    </svg>
                </button>
            </div>
            }
        </div>
    </div>
</div>