@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');

.order-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f0f0f0;
}
.order-body::-webkit-scrollbar {
  width: 0;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  max-width: 600px;
  width: 90%;
  padding: 1rem;
  border-radius: 12px;
}

.categories {
  margin: 30px 0 0px 0;
  padding: 10px 25px 10px 25px;
  display: flex;
  gap: 20px;
  overflow-x: auto;
  width: 100%;
  justify-content: flex-start;
}

.categories::-webkit-scrollbar {
  width: 0;
}

app-search-drink {
  display: block;
  margin-bottom: 27px;
}

.drinks-table {
  background-color: #fafafa;
  width: 100%;
  height: 100%;
  padding: 30px 5px 30px 5px;
  margin-bottom: 310px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  gap: 30px 20px;
}

app-order-quick-view {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
}
