<div class="border-1 border-gray-300 flex py-2 pl-4 pr-3 mx-6 rounded-4xl">
    <input type="text" placeholder="Search drinks..." class="w-full placeholder:text-hapikopi-grayborder outline-0" (input)="onSearch($event)">
    <button class="bg-hapikopi-yellow p-2 rounded-[50%]">
        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
            <path
                d="M19.5 19.5L15.16 15.16M17.5 9.5C17.5 13.9183 13.9183 17.5 9.5 17.5C5.08172 17.5 1.5 13.9183 1.5 9.5C1.5 5.08172 5.08172 1.5 9.5 1.5C13.9183 1.5 17.5 5.08172 17.5 9.5Z"
                stroke="#765302" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
    </button>
</div>