.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 49;
}

.modal {
    max-width: fit-content;
    z-index: 50;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
}

.modal.open {
    transform: translateY(0);
}