@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');

body {
  background: #222;
}

.card-active {
  width: 216px;
  height: 153px;
  position: relative;
  font-family: "Outfit", sans-serif;
}

.card-active-background {
  width: 216px;
  height: 153px;
  position: absolute;
  left: 0;
  top: 0;
  background: #FFFBF2;
  border: 2px solid #F3B72C;
  border-radius: 12px;
}

.card-active-title {
  position: absolute;
  left: 25px;
  top: 81px;
  color: #F3B72C;
  font-size: 20px;
  font-weight: 700;
}

.card-active-subtitle {
  position: absolute;
  left: 25px;
  top: 112px;
  color: #777777;
  font-size: 16px;
  font-weight: 400;
}

.card-active-icon {
  width: 49px;
  height: 49px;
  position: absolute;
  left: 21px;
  top: 17px;
  background: #F3B72C;
  border-radius: 50%;
 
  display: flex;
  justify-content: center;
  align-items: center;
}
