@if (isSidebarOpen$ | async) {
<div class="backdrop" (click)="close()"></div>
}

<aside [class.open]="isSidebarOpen$ | async" class="w-[45vw] h-screen bg-hapikopi-bg pt-5 flex flex-col absolute">
    <section class="p-5">
        <div class="flex justify-center items-center gap-2">
            <img class="w-12" src="../../../../assets/download.png" alt="happykopi_logo">
            <p class="font-bold text-2xl text-[#FAFAFA]">happykopi</p>
        </div>
    </section>

    <section class="flex flex-col flex-1">
        @for (item of pages; track $index) {
        <app-sidebar-button [page]="item.page" [route]="item.route" (action)="close()"></app-sidebar-button>
        }
    </section>
    <section class="flex flex-col"> 
        <app-sidebar-button page="sign out" class="mb-10" (action)="logout()"></app-sidebar-button>
    </section>
</aside>