.toggle {
    transform: translateX(-100%);
    transition: transform .5s ease-in-out;
    position: absolute;
    background-color: #FAFAFA;
    border-radius: 50%;
    padding: 5px;
}

.toggle.open {
    transform: translateX(-50%);
    left: 75%;
}

aside {
    z-index: 50;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    background-color: #F3B72C;
    /* Typography for sidebar */
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
    color: #FAFAFA; /* make labels and icons white by default */
}

aside.open {
    -webkit-box-shadow: 5px 1px 15px 2px rgba(191, 144, 35, 0.29);
    box-shadow: 5px 1px 15px 2px rgba(46, 34, 7, 0.15);
    transform: translateX(0);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 49;
}

.selected {
    background-color: #FFFBF2;
    border: none;
    color: #FAFAFA;
    font-weight: 700;

    /* slightly larger to match reference */
    font-size: 1.125rem; /* ~18px */

    padding-block: 16px;
    padding-left: 10px;
    margin-block: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 0.3s ease-in-out;

    width: 100%;
}

.selected > svg {
    width: 40px;
}