<div class="order-card">
  <div class="oc-upper-content">
    @if (drinkImage) {
      <img
        [src]="drinkImage"
        alt="{{ orderCard.name }}"
        class="oc-drink-img"
      />
    } @else {
      <div class="oc-placeholder">No image</div>
    }
  </div>

  <div class="oc-lower-content">
    <div class="oc-drink-name">{{ orderCard.name }}</div>
    <div class="oc-drink-cat">{{ orderCard.categoryName }}</div> 
    @if (!orderCard.isAvailable) {
      <div class="oc-drink-unavailable">Not available</div>
    }
  </div>
</div>
