<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div
    class="card bg-white p-8 rounded-0 shadow-sm flex items-center gap-9"
    *ngFor="let item of items"
    (click)="toggleSelection(item)"
    style="cursor: pointer;"
    [class.selected]="isSelected(item)"
    >
    <div class="menu-image"></div>

    <div class="flex flex-1 justify-between items-center gap-6">
        <div>
        <div class="text-lg font-semibold text-gray-800">
            {{ item[labelKey] }}
        </div>
        <div *ngIf="subLabelKey" class="text-lg text-gray-400">
            {{ item[subLabelKey] }}
        </div>
        </div>
    </div>

    <div class="flex flex-col items-center p-4 justify-center relative">
        <input
        type="checkbox"
        class="peer appearance-none h-6 w-6 border-2 border-gray-400 rounded-md cursor-pointer checked:bg-[#F3B72C] checked:border-[#F3B72C] transition-all relative"
        [checked]="isSelected(item)"
        (click)="$event.stopPropagation(); toggleSelection(item)"
        >
        <svg
        class="absolute w-4 h-4 text-white pointer-events-none opacity-0 peer-checked:opacity-100 transition-opacity"
        fill="none"
        stroke="currentColor"
        stroke-width="3"
        viewBox="0 0 24 24"
        >
        <path d="M5 13l4 4L19 7" />
        </svg>
    </div>
    </div>
</body>
</html>