<div class="relative overflow-x-auto sm:rounded-lg w-[100vw] max-h-min">
  @if (batches && batches.length > 0) {
  <div class="flex justify-end p-2">
    <button (click)="addStock.emit()"
      class="bg-hapikopi-yellow text-white font-semibold py-2 px-4 rounded-lg shadow-md hover:bg-yellow-500 transition-colors">
      Add Stock
    </button>
  </div>
  }
  <table class="w-full text-gray-500">

    <thead class="text-lg text-white bg-hapikopi-yellow w-full">
      <tr class="grid grid-cols-3">
        <th class="py-3">
          Batch
        </th>
        <th class="py-3">
          Quantity
        </th>
        <th class="py-3">
          Expiry Date
        </th>
      </tr>
    </thead>

    <tbody>
      @for(batch of batches; track $index) {

      <tr [routerLink]="['batch', batch.id]" class="grid grid-cols-3 w-full items-center text-center 
               cursor-pointer bg-white hover:bg-gray-100 transition-colors">

        <td class=" py-5 font-medium text-gray-900">
          {{ batch.id }}
        </td>
        <td class="">
          {{ batch.stockQuantity }} {{ unit }}
        </td>
        <td class="">
          {{ batch.expiryDate | date }}
        </td>
      </tr>

      }@empty {
      <tr>
        <td colspan="3" class="px-6 py-4 text-center">
          <app-yellow-button buttonTitle="Add Stock" itemTitle="add" (click)="addStock.emit()"></app-yellow-button>
        </td>
      </tr>
      }
    </tbody>

  </table>
</div>