body {
  background: #222;
  font-family: "Outfit", sans-serif;
}

.ingredient-type-card {
  width: 540px;
  height: 123px;
  position: relative;
  background: #fafafa;
}
 
.ingredient-type-icon {
  width: 55px;
  height: 55px;
  left: 37px;
  top: 33.87px;
  position: absolute;
  background: #f3b72c;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.ingredient-type-title {
  left: 124px;
  top: 33px;
  position: absolute;
  color: #282828;
  font-size: 16px;
  font-weight: 700;
  word-wrap: break-word;
}
 
.ingredient-type-subtitle {
  left: 124px;
  top: 66px;
  position: absolute;
  color: #777777;
  font-size: 16px;
  font-weight: 400;
  word-wrap: break-word;
}
 
.ingredient-type-arrow {
  width: 8px;
  height: 8px;
  left: 478px;
  top: 56px;
  position: absolute;
  border-top: 3px solid #777;
  border-right: 3px solid #777;
  transform: rotate(45deg);
  transform-origin: center;
}
