<div class="main">
  <div class="description-list">
    <app-description-card
      descriptionType="text"
      [description]="{
        Title: 'Order ID',
        Content: transaction?.orderId || ''
      }"
    ></app-description-card>
    <app-description-card
      descriptionType="text"
      [description]="{
        Title: 'Date & Time of Transaction',
        Content: (transaction?.transactionDate | date:'MMM d, y h:mm a') || ''
      }"
    ></app-description-card>
    <app-description-card
      descriptionType="text"
      [description]="{
        Title: 'Barista',
        Content: transaction?.barista || ''
      }"
    ></app-description-card>
    <app-description-card
      descriptionType="money"
      [description]="{
        Title: 'Total Amount',
        Content: transaction?.totalAmount || 0
      }"
    ></app-description-card>
    @for (payment of transaction?.payments || []; track payment.paymentType) {
      <app-description-card
        descriptionType="text"
        [description]="{
          Title: 'Payment Method',
          Content: payment.paymentType
        }"
      ></app-description-card>
      @if (payment.referenceNumber) {
        <app-description-card
          descriptionType="text"
          [description]="{
            Title: 'Reference Number',
            Content: payment.referenceNumber
          }"
        ></app-description-card>
      }
    }
  </div>
  
  <div class="drink-list">
    @for (item of transaction?.items || []; track item.id) {
      <app-charge-item 
        [chargeItem]="{
          Name: item.name,
          Size: item.size,
          AddOn: item.addOns?.join(', ') || '',
          Subtotal: item.price,
          DrinkQuantity: item.quantity,
          AddOnQuantity: item.addOnQuantity || 0
        }">
      </app-charge-item>
    }
  </div>
</div>
