<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="edit-photo-card.css">
</head>
<body>
    <div class="flex flex-col gap-6 items-center w-full">
        <div class="menu-image w-20 h-20 mb-6 bg-gray-200 rounded-md flex items-center justify-center">
            <div class="w-20 h-20 bg-[#F3B72C]/50 rounded-2xl flex items-center justify-center">
                <span class="material-symbols-rounded">
                    photo_camera
                </span>
            </div>
        </div>
    </div>
</body>
</html>