.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 49;
}

.modal {
    z-index: 50;
    position: fixed; 
    top: -50%;        
    left: 50%;
    transition: transform 0.3s ease-in-out;  
    opacity: 0;  
    transform: translate(-50%, 0%);
}

.modal.open {
    opacity: 1;
    top: 50%;        
    transform: translate(-50%, -50%);
}