<div class="
relative py-4 px-3
flex items-center justify-between gap-2
rounded-xl border border-gray-300 bg-white p-2 
transition duration-200 shadow-sm
focus-within:border-hapikopi-yellow 
focus-within:ring-2 
focus-within:ring-hapikopi-yellow">

    <div class="flex flex-col gap-5 flex-1">
        <p class="text-gray-500">Expiry Date</p>
        <div class="flex pb-2 border-b-1 border-gray-300">
            <input id="month-input" type="text" inputmode="numeric" placeholder="mm" maxlength="2" [(ngModel)]="month" (keydown)="onKeydown($event)"
                (input)="focusNext($event, 'day')" (blur)="handleBlur()" class="border-0 bg-transparent w-11
      text-gray-700 placeholder:text-gray-400 focus:outline-none focus:ring-0" /> <span
                class="text-gray-400">/&nbsp;</span>

            <input id="day-input" type="text" inputmode="numeric" placeholder="dd" maxlength="2" [(ngModel)]="day" (keydown)="onKeydown($event)"
                (input)="focusNext($event, 'year')" (blur)="handleBlur()" class="border-0 bg-transparent w-11
      text-gray-700 placeholder:text-gray-400 focus:outline-none focus:ring-0" /> <span
                class="text-gray-400">/&nbsp;</span>

            <input id="year-input" type="text" inputmode="numeric" placeholder="yyyy" maxlength="4" [(ngModel)]="year" (keydown)="onKeydown($event)"
                (input)="onDateChange()" (blur)="handleBlur()" class="border-0 bg-transparent w-11
      text-gray-700 placeholder:text-gray-400 focus:outline-none focus:ring-0" />
        </div>
    </div>
    <div>
        <button type="button" (click)="openCalendar()"
            class="flex cursor-pointer items-center p-2 bg-gray-300 rounded-md">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5" viewBox="0 0 1024 1024">
                <path fill="#282828"
                    d="M880 184H712v-64c0-4.4-3.6-8-8-8h-56c-4.4 0-8 3.6-8 8v64H384v-64c0-4.4-3.6-8-8-8h-56c-4.4 0-8 3.6-8 8v64H144c-17.7 0-32 14.3-32 32v664c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V216c0-17.7-14.3-32-32-32m-40 656H184V460h656zM184 392V256h128v48c0 4.4 3.6 8 8 8h56c4.4 0 8-3.6 8-8v-48h256v48c0 4.4 3.6 8 8 8h56c4.4 0 8-3.6 8-8v-48h128v136z" />
            </svg>
        </button>

        <input #nativeDatePicker type="date" [min]="minDate" (change)="onNativeDateChange($event)"
            class="absolute -z-10 h-0 w-0 opacity-0" tabindex="-1" />
    </div>
</div>