<div class="p-5 flex flex-col gap-4">
    <h1 class="text-2xl font-bold text-hapikopi-yellow">Register New Barista</h1>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-5" novalidate>
        <app-text-box label="Username" formControlName="username" [isInvalid]="!!(registerForm.get('username')?.invalid && registerForm.get('username')?.touched)"></app-text-box>
        <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched" class="text-red-500 text-sm -mt-3">
            <div *ngIf="registerForm.get('username')?.errors?.['required']">Username is required.</div>
            <div *ngIf="registerForm.get('username')?.errors?.['minlength']">Username must be at least 4 characters long.</div>
        </div>

        <app-text-box label="Email Address" formControlName="emailAddress" [isInvalid]="!!(registerForm.get('emailAddress')?.invalid && registerForm.get('emailAddress')?.touched)"></app-text-box>
        <div *ngIf="registerForm.get('emailAddress')?.invalid && registerForm.get('emailAddress')?.touched" class="text-red-500 text-sm -mt-3">
            <div *ngIf="registerForm.get('emailAddress')?.errors?.['required']">Email is required.</div>
            <div *ngIf="registerForm.get('emailAddress')?.errors?.['email']">Please enter a valid email.</div>
        </div>

        <app-text-box label="Phone Number" formControlName="phoneNumber" [isInvalid]="!!(registerForm.get('phoneNumber')?.invalid && registerForm.get('phoneNumber')?.touched)"></app-text-box>
        <div *ngIf="registerForm.get('phoneNumber')?.invalid && registerForm.get('phoneNumber')?.touched" class="text-red-500 text-sm -mt-3">
            <div *ngIf="registerForm.get('phoneNumber')?.errors?.['required']">Phone number is required.</div>
            <div *ngIf="registerForm.get('phoneNumber')?.errors?.['minlength'] || registerForm.get('phoneNumber')?.errors?.['maxlength']">Phone number must be between 11 and 20 characters.</div>
        </div>

        <app-text-box label="Password" type="password" formControlName="password" [isInvalid]="!!(registerForm.get('password')?.invalid && registerForm.get('password')?.touched)"></app-text-box>
        <app-text-box label="First Name" formControlName="firstName" [isInvalid]="!!(registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched)"></app-text-box>
        <app-text-box label="Last Name" formControlName="lastName" [isInvalid]="!!(registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched)"></app-text-box>

        <app-yellow-button buttonTitle="Register Barista" [isDisabled]="isLoading" (isClick)="onSubmit()"></app-yellow-button>
    </form>
</div>
